@model Web_dienthoai.Models.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<<div class="wrapper">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="~/images/delete.jpg" alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <h3>XÁC NHẬN XÓA NHÂN VIÊN NÀY?</h3>
            <div class="profile-card__name">@Html.DisplayFor(model => model.Hoten)</div>
            <div class="profile-card__txt">Mã Nhân viên: <strong>@Html.DisplayFor(model => model.MaNV)</strong> </div>
            <div class="profile-card__txt">Giới tính: <strong>@Html.DisplayFor(model => model.GioiTinh)</strong> </div>
            <div class="profile-card__txt">Ngày sinh: <strong>@Html.DisplayFor(model => model.NgaySinh)</strong> </div>
            <div class="profile-card__txt">Chức vụ: <strong>@Html.DisplayFor(model => model.ChucVu)</strong> </div>

            <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                    <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                </span>
                <span class="profile-card-loc__txt">
                    @Html.DisplayFor(model => model.DiaChi)
                </span>
            </div>

            <div class="profile-card-ctr">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="profile-card-ctr">
                        <input type="submit" value="Delete" class="btn profile-card__button button--orange" />
                        <a class="profile-card__button button--blue" href="~/NhanViens/Index">Trở về</a>
                    </div>
                }

            </div>

            <div class="profile-card-message js-message">
                <form class="profile-card-form">
                    <div class="profile-card-form__container">
                        <textarea placeholder="Say something..."></textarea>
                    </div>

                    <div class="profile-card-form__bottom">
                        <button class="profile-card__button button--blue js-message-close">
                        </button>

                        <button class="profile-card__button button--gray js-message-close">
                            Cancel
                        </button>
                    </div>
                </form>

                <div class="profile-card__overlay js-message-close"></div>
            </div>

        </div>

    </div>




    <script>
    var messageBox = document.querySelector('.js-message');
    var btn = document.querySelector('.js-message-btn');
    var card = document.querySelector('.js-profile-card');
    var closeBtn = document.querySelectorAll('.js-message-close');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        card.classList.add('active');
    });

    closeBtn.forEach(function (element, index) {
        console.log(element);
        element.addEventListener('click', function (e) {
            e.preventDefault();
            card.classList.remove('active');
        });
    });
    </script>
