
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_MasterLayout2.cshtml";
}

<link rel="stylesheet" href="~/Content/Image.css" />

@*<h2 style="text-align: center; font-weight: bold;">ĐĂNG KÝ THÀNH VIÊN</h2>
<br />
<div class="row">
    <div class="offset-md-1 col-md-10" style="padding-left:20%; padding-right:20%">
        @using (Html.BeginForm("DangKy", "NguoiDung"))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="name">Họ và Tên:</label>
                @Html.TextBox("Hoten", null, new
                {
                    @class = "form-control",
                    @id = "name",
                    required = "required"
                })
            </div>
            <div class="form-group">
                <label for="dangnhap">Tên đăng nhập:</label>
                @Html.TextBox("Username", null, new
                {
                    @class = "form-control",
                    @id = "dangnhap",
                    required = "required"
                })
            </div>
            <div class="form-group">
                <label for="matkhau">Mật khẩu:</label>
                @Html.Password("Password", null, new
                {
                    @class = "form-control",
                    @id = "matkhau",
                    required = "required"
                })
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                @Html.TextBox("Email", null, new
                {
                    @class = "form-control",
                    @id = "email",
                    type = "email",
                    required = "required"
                })
            </div>
            <div class="form-group">
                <label for="diachi">Địa chỉ:</label>
                @Html.TextBox("DiaChi", null, new
                {
                    @class = "form-control",
                    @id = "diachi"
                })
            </div>
            <div class="form-group">
                <label for="dienthoai">Điện thoại:</label>
                @Html.TextBox("SDT", null, new
                {
                    @class = "form-control",
                    @id = "dienthoai",
                    required = "required"
                })
            </div>
            <div class="form-group">
                <label for="ngaysinh">Ngày sinh:</label>
                @Html.Password("NgaySinh", null, new
                {
                    @class = "form-control",
                    @id = "ngaysinh",
                    type = "date",
                    placeholder = "mm/dd/yyyy"
                })
            </div>
            <div class="form-group">
                <label for="ngaysinh">Giới tính:</label>
                @Html.DropDownList("GioiTinh", new List<SelectListItem>
           {
               new SelectListItem{ Text = "Nam", Value= "Nam"},
               new SelectListItem{ Text = "Nữ", Value = "Nữ"},
               new SelectListItem{ Text = "Khác", Value = "Khác"}
           }, new
           {
               @class = "form-control",
               @id = "gioitinh"
           })
            </div>
            <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; margin-top: 20px; text-align: center;">ĐĂNG KÝ</button>
            <br />
            <p class="text-white" style="text-align: center; ">Đã có tài khoản ? <a href="@Url.Action("DangNhap", "NguoiDung")" style="color: red; text-decoration:none;">Đăng nhập</a></p>
        }
    </div>
</div>*@

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class=" bg-info text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">

                        <div class="mb-md-5 mt-md-4 pb-2 " style="padding:60px">

                            <h2 class="fw-bold mb-5 text-uppercase text-center ">Đăng ký</h2>

                            @using (Html.BeginForm("DangKy", "NguoiDung"))
                            {
                                @Html.ValidationSummary(true)

                                <div class="form-outline ">
                                    <label class="form-label">Họ và Tên</label>@Html.TextBox("Hoten", null, new { @class = "form-control ", @id = "name", required = "required" })
                                    <hr class="bg-warning" />

                                </div>

                                <div class="form-outline form-white mb-2 ">
                                    <label class="form-label">Tên đăng nhập</label>
                                    @Html.TextBox("Username", null, new
                                    {
                                        @class = "form-control",
                                        @id = "dangnhap",
                                        required = "required"
                                    })
                                    <hr class="bg-warning" />
                                </div>

                                <div class="form-outline form-white mb-2 ">
                                    <label class="form-label">Mật khẩu</label>
                                    @Html.Password("Password", null, new
                                    {
                                        @class = "form-control",
                                        @id = "matkhau",
                                        required = "required"
                                    })
                                    <hr class="bg-warning" />
                                </div>

                                <div class="form-outline form-white mb-2 ">

                                    <label for="ngaysinh">Giới tính:</label>
                                    @Html.DropDownList("GioiTinh", new List<SelectListItem>
                               {
                                   new SelectListItem{ Text = "Nam", Value= "Nam"},
                                   new SelectListItem{ Text = "Nữ", Value = "Nữ"},
                                   new SelectListItem{ Text = "Khác", Value = "Khác"}
                               }, new
                               {
                                   @class = "form-control",
                                   @id = "gioitinh"
                               })

                                </div>

                                <div class="form-outline form-white mb-2 ">
                                    <label class="form-label">Email</label>
                                    @Html.TextBox("Email", null, new
                                    {
                                        @class = "form-control",
                                        @id = "email",
                                        type = "email",
                                        required = "required"
                                    })
                                    <hr class="bg-warning" />
                                </div>
                                <div class="form-outline form-white mb-2 ">
                                    <label class="form-label">Địa chỉ</label>
                                    @Html.TextBox("DiaChi", null, new
                                    {
                                        @class = "form-control",
                                        @id = "diachi"
                                    })
                                    <hr class="bg-warning" />
                                </div>
                                <div class="form-outline form-white mb-2 ">
                                    <label class="form-label">Điện thoại</label>
                                    @Html.TextBox("SDT", null, new
                                    {
                                        @class = "form-control",
                                        @id = "dienthoai",
                                        required = "required"
                                    })
                                    <hr class="bg-warning" />
                                </div>
                                <div class="form-outline form-white mb-2 ">
                                    <label for="ngaysinh">Ngày sinh</label>
                                    @Html.Password("NgaySinh", null, new
                                    {
                                        @class = "form-control",
                                        @id = "ngaysinh",
                                        type = "date",
                                        placeholder = "mm/dd/yyyy"
                                    })
                                    <hr class="bg-warning" />
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-outline-light btn-lg px-5" style="text-align:center" type="submit">Đăng ký</button>
                                </div>

                            }


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>