
@using Web_dienthoai.Models;
@model List<MatHangMua>

@{
    ViewBag.Title = "HienThiGioHang";
    Layout = "~/Views/Shared/_MasterLayout2.cshtml";
}

<br />
<br />
@if (TempData["ThongBaoSuccess"] != null)
{
    <div class="alert alert-success d-flex" role="alert">
        <i class="bi bi-check-circle-fill">
            @TempData["ThongBaoSuccess"].ToString()
        </i>
    </div>
}
@if (TempData["ThongBaoFailed"] != null)
{
    <div class="alert alert-danger d-flex" role="alert">
        <i class="bi bi-exclamation-triangle-fill">
            @TempData["ThongBaoFailed"].ToString()
        </i>
    </div>
}

<div style="margin-left: 5%; margin-right:5%;">
    <h2 class="" style="text-align:center; font-weight:bold;margin-bottom:20px;">THÔNG TIN GIỎ HÀNG</h2>
    <table class="table table-success ">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>Chi tiết</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>

                    <td><img src="~/Images/ProductView/@item.Hinhminhhoa" style="width:100px; height:30%" /></td>
                    @*  <td> null </td>*@
                    @using (Html.BeginForm("CapNhatMatHang", "GioHang", new { IdSP = item.IdSP }))
                    {
                        <td>
                            <input style="width:100px;" type="number" min="1" value="@item.SoLuong" name="SoLuong" />
                            <button type="submit" class="btn btn-success">Lưu</button>
                        </td>
                        <td>
                            @String.Format("{0:0,0}", @item.DonGia) VND <br />
                        </td>
                        <td>
                            @String.Format("{0:0,0}", @item.ThanhTien()) VND
                        </td>
                        <td>@Html.ActionLink("Chi tiết", "Details", "PhoneStore", new { id = item.IdSP }, new { @class = "btn btn-success" })</td>



                    }
                    <td>@Html.ActionLink("Xóa", "XoaMatHang", "GioHang", new { IdSP = item.IdSP }, new { @class = "btn btn-danger" })</td>
                </tr>

            }


        </tbody>
    </table>


</div>
<div class="row" style="margin-left: 20%">
    <div class="col-sm-6">
        <p style="  font-size:20px;"> Tổng số lượng: @ViewBag.TongSL </p>
    </div>
    <div class="col-sm-6">
        <p style="  font-size:20px;"> Tổng tiền:@String.Format("{0:0,0}", @ViewBag.TongTien) VND </p>
    </div>
</div>
<div style="text-align:center; margin-top:20px;">@Html.ActionLink("ĐẶT HÀNG", "ThongTinMuaHang", null, new { @class = "btn btn-primary btn-lg btn-block" })</div> 