@model Web_dienthoai.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />

<br />
<br />
@if (TempData["ThongBaoSuccess"] != null)
{
    <div class="alert alert-success d-flex" role="alert">
        <p>
            <i class="fas fa-check"></i> <span>@TempData["ThongBaoSuccess"].ToString()</span>
        </p>

    </div>
}
@if (TempData["ThongBaoFailed"] != null)
{
    <div class="alert alert-danger d-flex" role="alert">
        <p>
            <i class="fas fa-exclamation-circle"></i> <span>@TempData["ThongBaoFailed"].ToString()</span>
        </p>
    </div>
}

<div class="container" style="background-image: url('../../Images/gradient-background.jpg');">
    <div class="inner">

        @using (Html.BeginForm("Create", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3>Thêm sản phẩm</h3>

            <div class="form-wrapper">
                Tên sản phẩm (*):
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Thương hiệu (*):
                @Html.DropDownList("MaTH", null, htmlAttributes: new { @class = "form-control", required = "required", @id = "thDropdown"})
                @Html.ValidationMessageFor(model => model.MaTH, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Giá tiền (*):
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control", required = "required", type = "number" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Mô tả (*):
                @Html.EditorFor(model => model.MoTaSP, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.MoTaSP, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Hình minh họa (*):
                <input type="file" name="Hinhminhhoa" required />
                @Html.ValidationMessageFor(model => model.HinhMinhHoa, "", new { @class = "text-danger" })
            </div>

            <input style="background-color:Green" type="submit" value="Xác nhận" class=" button1" />
        }
    <div style="margin-left:238px;color:#ccc">
        <a style="margin-left: -15px;" class="button1" href="~/SanPhams/Index">Trở về</a>
    </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#thDropdown").chosen();
    });
</script>