@model Web_dienthoai.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align: center;">THÔNG TIN CHI TIẾT</h2>

<div>
    <h4>
        SẢN PHẨM
        <span><a class="edit-button fa fa-pencil" href="~/SanPhams/Edit?id=@Model.IdSP"></a></span>
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhMinhHoa)
        </dt>

        <dd>
            <img src="~/Images/ProductView/@Model.HinhMinhHoa" style="width: 35%"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieu.TenTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu.TenTH)
        </dd>


    </dl>
</div>

<br />
<div>
    <h4>
        THÔNG SỐ KỸ THUẬT
        <span><a class="edit-button fa fa-pencil" href="~/ThongSoes/Edit?id=@Model.IdSP"></a></span>    
    </h4>

    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.CongNgheManHinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.CongNgheManHinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DoPhanGiai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DoPhanGiai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.ManHinhrong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.ManHinhrong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.MatKinhCamUng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.MatKinhCamUng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DoPhanGiaiCamS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DoPhanGiaiCamS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.QuayPhim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.QuayPhim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Flash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Flash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.TinhNangCamS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.TinhNangCamS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DoPhanGiaiCamT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DoPhanGiaiCamT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.TinhNangCamT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.TinhNangCamT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.HeDieuHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.HeDieuHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.TocDoCPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.TocDoCPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.GPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.GPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DungLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DungLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DungLuongCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DungLuongCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DanhBa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DanhBa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Mang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Mang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Sim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Sim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Wifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Wifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.GPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.GPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Bluetooth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Bluetooth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Sac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Sac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.Jack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.Jack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.KetNoiKhac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.KetNoiKhac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.DungLuongPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.DungLuongPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.LoaiPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.LoaiPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.SacToiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.SacToiDa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.CongNghePin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.CongNghePin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.BaoMatNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.BaoMatNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.TinhNangDB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.TinhNangDB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.KhangNuocBui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.KhangNuocBui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.XemPhim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.XemPhim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.NgheNhac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.NgheNhac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.ThietKe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.ThietKe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.ChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.ChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.KichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.KichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.ThoiDiemRaMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.ThoiDiemRaMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongSo.SanPham.MaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongSo.SanPham.MaSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
