@using Web_dienthoai.Models;
@model Admin

@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Admin ad = Session["Admin"] as Admin;
}

<style>
    td, th, tr {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }


    .profile-table {
        align-self: center;
        justify-content: space-around;
        width: 100%;
    }

        .profile-table tr td {
            width: 20%;
            padding-left: 20px;
            text-align: center;
        }
</style>

<h2 style="text-align:center;">Admin Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table-borderless profile-table">
        <tr>

            <td style="text-align:center;"><img src="~/Images/219983.png" width="30%" style="margin-left:20px;" class="profileImg" /></td>
            <td style="text-align:left;">

                <div style="width: 30%">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>

            </td>
        </tr>
    </table>
    <h3 style="padding-left:23rem;">Account</h3>
    <hr />
    <table class="table-borderless profile-table">
        <tr>
            <td>@Html.LabelFor(model => model.Useradmin, "Tài khoản")</td>
            <td>
                <div style="width: 30%">
                    @Html.EditorFor(model => model.Useradmin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Useradmin, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.VaiTro, "Vai trò")</td>
            <td style="text-align:left;">@ad.VaiTro</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Passadmin, "Mật khẩu")</td>
            <td style="text-align:left">
                <div style="width: 30%">
                    @Html.PasswordFor(model => model.Passadmin)
                </div>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div style="padding-left: 40rem">
        <input type="submit" value="LƯU" class="btn btn-success" />
    </div>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
