@using Web_dienthoai.Models;
@model IEnumerable<DonHang>

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid">
    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div style="display: inline-block; vertical-align: top; margin-right: 15px;">
                            <i style="font-size:40px;color:white;margin-top:-4px;margin-right: 10px" class="zmdi zmdi-calendar-note"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.Donhang</h2>
                            <span>Tổng đơn hàng</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div style="display: inline-block; vertical-align: top; margin-right: 15px; ">
                            <i style="font-size:40px;color:white;margin-top:-4px;margin-right: 10px" class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.Sanpham</h2>
                            <span>Tổng số sản phẩm</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div style="display: inline-block; vertical-align: top; margin-right: 15px;">
                            <i style="font-size:40px;color:white;margin-top:-4px;margin-right: 10px" class="zmdi zmdi-account-o"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.Nhanvien</h2>
                            <span>Tổng số Nhân viên</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div style="display: inline-block; vertical-align: top; margin-right: 15px;">
                            <i style="font-size:40px;color:white;margin-top:-4px;margin-right: 10px" class="zmdi zmdi-money"></i>
                        </div>
                        <div class="text">
                            <h2>@String.Format("{0:0,0}", @ViewBag.Doanhthu)</h2>
                            <span>Thống kê doanh thu</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="au-card recent-report">
                <div class="au-card-inner">
                    <h3 class="title-2">recent reports</h3>
                    <div class="chart-info">
                        <div class="chart-info__left">
                            <div class="chart-note">
                                <span class="dot dot--blue"></span>
                                <span>products</span>
                            </div>
                            <div class="chart-note mr-0">
                                <span class="dot dot--green"></span>
                                <span>services</span>
                            </div>
                        </div>
                        <div class="chart-info__right">
                            <div class="chart-statis">
                                <span class="index incre">
                                    <i class="zmdi zmdi-long-arrow-up"></i>40%
                                </span>
                                <span class="label">products</span>
                            </div>
                            <div class="chart-statis mr-0">
                                <span class="index decre">
                                    <i class="zmdi zmdi-long-arrow-down"></i>26%
                                </span>
                                <span class="label">services</span>
                            </div>
                        </div>
                    </div>
                    <div class="recent-report__chart">
                        <canvas id="recent-rep-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="au-card chart-percent-card">
                <div class="au-card-inner">
                    <h3 class="title-2 tm-b-5">char by %</h3>
                    <div class="row no-gutters">
                        <div class="col-xl-6">
                            <div class="chart-note-wrap">
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--blue"></span>
                                    <span>products</span>
                                </div>
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--red"></span>
                                    <span>services</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="percent-chart">
                                <canvas id="percent-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<style>
    .left a{
        text-decoration:none;
    }
</style>

<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Admin")">Admin</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="@Url.Action("Index", "Admin")">Dashboard</a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download'></i>
            <span class="text">Download PDF</span>
        </a>
    </div>

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check'></i>
            <span class="text">
                <h3>@ViewBag.Donhang</h3>
                <p>Tổng đơn hàng</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3>@ViewBag.Nhanvien</h3>
                <p>Nhân viên</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle'></i>
            <span class="text">
                <h3>$@ViewBag.Doanhthu</h3>
                <p>Doanh thu</p>
            </span>
        </li>
    </ul>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Đơn hàng vừa đặt</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="/DonHangs/Details?id=@item.MaDH" style="text-decoration:none;">
                                    <img src="img/people.png">
                                    <p>@item.TenNguoiNhan</p>
                                </a>
                            </td>
                            <td>
                                <a href="/DonHangs/Details?id=@item.MaDH" style="text-decoration:none;">
                                    @item.NgayDH
                                    </a>
                            </td>
                            @if (item.TinhTrang == "Đã đặt hàng")
                            {
                                <td><span class="status pending">@item.TinhTrang</span></td>
                            }
                            else
                            {
                                <td><span class="status completed">@item.TinhTrang</span></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="todo">
            <div class="head">
                <h3>Todos</h3>
                <i class='bx bx-plus'></i>
                <i class='bx bx-filter'></i>
            </div>
            <ul class="todo-list">
                <li class="completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
            </ul>
        </div>
    </div>
</main>*@

