@using PagedList.Mvc;
@using Web_dienthoai.Models;
@model IEnumerable<SanPham>

@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Image.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">



<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card cardt">
                <a href="@Url.Action("Details", "PhoneStore", new { id = item.IdSP })">
                    <img class="card-img-top my-image" src="~/Images/ProductView/@item.HinhMinhHoa" alt="Card image">
                </a>
                <div class="card-body">
                    @*<h4 class="card-title">@item.SanPham.TenSP</h4>
                        <p class="card-text">@item.SanPham.MaSP</p>*@
                    <h4 class="card-title cardt-title" style="text-align: center;">@item.TenSP</h4>
                    <p class="card-text" style="text-align: center;">@String.Format("{0:0,0}", @item.Gia) VND</p>
                    <div style=" display: flex; justify-content: center;">  <a href="@Url.Action("Details", "PhoneStore", new { id = item.IdSP })" class="btn btn-primary">Mua ngay</a> </div>

                </div>
            </div>
        </div>
    }
</div>

