@model Web_dienthoai.Models.ThongSo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<style>
    a{
        text-decoration: none;
    }
</style>

<div class="container" style="background-image: url('../../Images/library-background-form.jpg');">
    <div class="inner">
        @using (Html.BeginForm("Edit", "ThongSoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>CẬP NHẬT THÔNG SỐ SẢN PHẨM</h3>
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdSP)
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Màn hình
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="">
                                <dt>
                                    Công nghệ màn hình:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.CongNgheManHinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CongNgheManHinh, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Độ phân giải:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DoPhanGiai, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DoPhanGiai, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Màn hình rộng:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.ManHinhrong, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ManHinhrong, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Mặt kính cảm ứng:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.MatKinhCamUng, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MatKinhCamUng, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Camera sau
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Độ phân giải:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DoPhanGiaiCamS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DoPhanGiaiCamS, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Quay phim:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.QuayPhim, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.QuayPhim, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Đèn Flash:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Flash, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Flash, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Tính năng:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.TinhNangCamS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TinhNangCamS, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Camera trước
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Độ phân giải:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DoPhanGiaiCamT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DoPhanGiaiCamT, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Tính năng:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.TinhNangCamT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TinhNangCamT, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Hệ điều hành & CPU
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Hệ điều hành:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.HeDieuHanh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HeDieuHanh, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Chip xử lý (CPU):
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.CPU, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CPU, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Tốc độ CPU:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.TocDoCPU, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TocDoCPU, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Chip đồ họa (GPU):
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.GPU, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GPU, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Bộ nhớ & Lưu trữ
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    RAM:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RAM, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Dung lượng lưu trữ:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DungLuong, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DungLuong, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Dung lượng còn lại (khả dụng) khoảng:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DungLuongCon, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DungLuongCon, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Danh bạ:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DanhBa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DanhBa, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Kết nối
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Mạng di động:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Mang, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Mang, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    SIM:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Sim, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Sim, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Wifi:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Wifi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Wifi, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    GPS:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.GPS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GPS, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Bluetooth:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Bluetooth, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Bluetooth, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Cổng kết nối/sạc:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Sac, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Sac, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Jack tai nghe:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.Jack, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Jack, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Kết nối khác:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.KetNoiKhac, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KetNoiKhac, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Pin & Sạc
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Dung lượng pin:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.DungLuongPin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DungLuongPin, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Loại pin:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.LoaiPin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoaiPin, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Hỗ trợ sạc tối đa:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.SacToiDa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SacToiDa, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Công nghệ pin:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.CongNghePin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CongNghePin, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Tiện ích
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Bảo mật nâng cao:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.BaoMatNC, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BaoMatNC, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Tính năng đặc biệt:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.TinhNangDB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TinhNangDB, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Kháng nước, bụi:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.KhangNuocBui, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KhangNuocBui, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Xem phim:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.XemPhim, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.XemPhim, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Nghe nhạc:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.NgheNhac, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NgheNhac, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Thông tin chung
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    Thiết kế:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.ThietKe, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ThietKe, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Chất liệu:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.ChatLieu, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ChatLieu, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Kích thước, khối lượng:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.KichThuoc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KichThuoc, "", new { @class = "text-danger" })
                                </dd>
                                <hr />
                                <dt>
                                    Thời điểm ra mắt:
                                </dt>
                                <dd>
                                    @Html.EditorFor(model => model.ThoiDiemRaMat, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ThoiDiemRaMat, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input style="margin-left:-15px;background-color:Green" type="submit" value="Lưu" class=" button1" />
                        <a style="margin-left: -15px;" class="button1" href="~/SanPhams/Details?id=@Model.IdSP">Trở về</a>
                    </div>
                </div>
            </div>
        }

    </div>

</div>