@model IEnumerable<Web_dienthoai.Models.ThongSo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CongNgheManHinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoPhanGiai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManHinhrong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKinhCamUng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoPhanGiaiCamS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuayPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhNangCamS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoPhanGiaiCamT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhNangCamT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TocDoCPU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DungLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DungLuongCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhBa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wifi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bluetooth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KetNoiKhac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DungLuongPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SacToiDa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CongNghePin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaoMatNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhNangDB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhangNuocBui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XemPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgheNhac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThietKe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChatLieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichThuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiDiemRaMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.MaSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CongNgheManHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoPhanGiai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManHinhrong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKinhCamUng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoPhanGiaiCamS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuayPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhNangCamS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoPhanGiaiCamT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhNangCamT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeDieuHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TocDoCPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DungLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DungLuongCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhBa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wifi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bluetooth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KetNoiKhac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DungLuongPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SacToiDa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CongNghePin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaoMatNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhNangDB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhangNuocBui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XemPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgheNhac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThietKe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChatLieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiDiemRaMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.MaSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSP })
        </td>
    </tr>
}

</table>
