@using Web_dienthoai.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<ThuongHieu>

@{
    ViewBag.Title = "QUẢN LÝ THƯƠNG HIỆU";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    .delete-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .edit-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }
</style>

<br />
<br />
@if (TempData["ThongBaoSuccess"] != null)
{
    <div class="alert alert-success d-flex" role="alert">
        <p>
            <i class="fas fa-check"></i> <span>@TempData["ThongBaoSuccess"].ToString()</span>
        </p>

    </div>
}
@if (TempData["ThongBaoFailed"] != null)
{
    <div class="alert alert-danger d-flex" role="alert">
        <p>
            <i class="fas fa-exclamation-circle"></i> <span>@TempData["ThongBaoFailed"].ToString()</span>
        </p>
    </div>
}

<div class="row mt-4">
    <div class="col-6">
        @Html.ActionLink("THÊM THƯƠNG HIỆU MỚI", "Create", null, new { @class = "btn btn-success" })
    </div>
    <div class="col-6">
        <form style="width: 100%; padding-left: 250px;" action="/ThuongHieux/Index" method="get">
            <div class="form-group">
                <input class="form-control" id="search" type="text" name="s" placeholder="Tìm kiếm thương hiệu" value="" />
            </div>
        </form>
    </div>

    <table class="table">
        <tr>
            <th>
                Mã thương hiệu
            </th>
            <th>
                Tên thương hiệu
            </th>
            <th>
                Tác vụ
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a style="text-decoration: none; color: black;" href="~/ThuongHieux/Details?id=@item.MaTH">
                        @Html.DisplayFor(modelItem => item.MaTH)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color: black;" href="~/ThuongHieux/Details?id=@item.MaTH">
                        @Html.DisplayFor(modelItem => item.TenTH)
                    </a>
                </td>
                <td>
                    @*@Html.ActionLink("Cập nhật", "Edit", new { id = item.MaTH }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaTH }, new { @class = "btn btn-danger" })*@
                    <a class="edit-button fa fa-pencil" href="~/ThuongHieux/Edit?id=@item.MaTH"></a>
                    <a class="delete-button fa fa-trash" href="~/ThuongHieux/Delete?id=@item.MaTH"></a>
                </td>
            </tr>
        }

    </table>
</div>


<!-- Thêm mã phân trang -->
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
            background-color: lightblue;
            color: white;
            padding: 10px 20px;
            margin: 2px 5px;
            border-radius: 5px;
            border: none;
            text-decoration: none;
        }
    </style>
    <!-- Kết thúc -->