@model Web_dienthoai.Models.DonHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<br />
<br />
@if (TempData["ThongBaoSuccess"] != null)
{
    <div class="alert alert-success d-flex" role="alert">
        <p>
            <i class="fas fa-check"></i> <span>@TempData["ThongBaoSuccess"].ToString()</span>
        </p>

    </div>
}
@if (TempData["ThongBaoFailed"] != null)
{
    <div class="alert alert-danger d-flex" role="alert">
        <p>
            <i class="fas fa-exclamation-circle"></i> <span>@TempData["ThongBaoFailed"].ToString()</span>
        </p>
    </div>
}

<div class="container" style="background-image: url('../../Images/gradient-background.jpg'); border-radius: 8px">
    <div class="inner">

        @using (Html.BeginForm("Create", "DonHangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3>Thêm sản phẩm</h3>

            <div class="form-wrapper">
                Khách hàng (*):
                @Html.DropDownList("MaKH", null, htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Tên người nhận (*):
                @Html.EditorFor(model => model.TenNguoiNhan, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.TenNguoiNhan, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Số điện thoại (*):
                @Html.EditorFor(model => model.SDTnhan, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.SDTnhan, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Địa chỉ (*):
                @Html.EditorFor(model => model.DiaChiNhan, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DiaChiNhan, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Hình thức thanh toán (*)
                @Html.EditorFor(model => model.HTThanhToan, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.HTThanhToan, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                Hình thức giao hàng (*)
                @Html.EditorFor(model => model.HTGiaohang, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.HTGiaohang, "", new { @class = "text-danger" })
            </div>

            <input class="btn btn-success button1" type="submit" value="Xác nhận">
        }
        <div style="margin-left:238px;color:#ccc">
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    </div>

</div>